@use '../../app/styles/variables' as var;

.headerWrapper {
    height: fit-content;
    background: linear-gradient(to bottom, var.$purple, var.$gray);
    padding: 1.5rem;
    
    .header {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .navigationButtonContainer {
            display: none;
            column-gap: 10px;
            align-items: center;

            .navigationButton {
                border-radius: 50%;
                background-color: var.$black;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var.$white;
                padding: 0;
                border: none;

                &:hover {
                    opacity: 75%;
                    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
                    transition-timing-function: var(--default-transition-timing-function); /* cubic-bezier(0.4, 0, 0.2, 1) */
                    transition-duration: var(--default-transition-duration); /* 150ms */
                }
            }
        }

        .mobileButtons {
            display: flex;
            column-gap: 10px;
            align-items: center;

            .homeButton, .searchButton {
                border-radius: 50%;
                background-color: var.$white;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 10px;

                &:hover {
                    opacity: 75%;
                    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
                    transition-timing-function: var(--default-transition-timing-function); /* cubic-bezier(0.4, 0, 0.2, 1) */
                    transition-duration: var(--default-transition-duration); /* 150ms */
                }
            }
        }
        
        .loggedInMessage {
            display: flex;             /* flex */
            column-gap: 1rem;          /* gap-x-4 = 1rem (16px) */
            align-items: center;       /* items-center */
            
            .userButton {
                background-color: var.$white; /* bg-white */
                color: var.$black;
                padding: 0.5rem 1.5rem;
            }

            .accountButton {
                padding: 0.75rem;
                border-radius: 9999px;
            }
        }


        .authButtonWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;

            .signUpButton {
                background-color: transparent;
                padding: 10px 20px;
                &:hover {
                    cursor: pointer;
                }
            }

            .logInButton {
                background-color: var.$white;
                color: var.$black;
                padding: 10px 20px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}



@media (width >= 48rem) { // 768px
    .headerWrapper {
        .header {
            .navigationButtonContainer {
                display: flex;
            }

            .mobileButtons {
                display: none;
            }
        }
    }
}