.sidebarWrapper { 
    min-height: 100%;
    display: flex;
    
    .sidebar { 
        width: 25%;
        display: none;
        flex-direction: column;
        margin: 10px;
        
        .songLibrary {
            height: 100%;
            overflow-y: auto;
            margin-top: 10px;
        }
    }
    
    .main {
        width: 100%;
        margin: 10px 10px 10px 0px;
    }
}

@media (width >= 48rem) { // 768px
    .sidebarWrapper {
        .sidebar {
            display: flex;
        }
    }
}