@use '../../app/styles/variables' as var;

.button {
    width: 100%;
    border-radius: 50px;
    background: none;
    border: none;
    color: var.$white;
    background-color: var.$dark-purple;
    border: transparent;
    white-space: nowrap;
    transition: opacity 0.2s ease; 

    &:hover {
        opacity: 0.75; /* hover:opacity-75 */
    }
}