@use '../../../app/styles/variables' as var;

.sidebarItem {
    display: flex;
    color: var.$white;
    margin: 10px;
    text-decoration: none;
    align-items: center;

    &:hover {
        opacity: 75%;
    }

    .sidebarItemIcon {
        margin-right: 5px;
    }
}