@use '../../app/styles/variables' as var;

.listItemButton {
    display: flex; 
    overflow: hidden; 
    position: relative; 
    column-gap: 1rem; 
    align-items: center; 
    border-radius: 0.375rem;
    background-color:  rgba(245, 245, 245, 0.1);
    border: none; 
    padding: 0;
    
    &:hover {
        background-color:  rgba(245, 245, 245, 0.2);
        transition: background-color 0.2s ease;;

        .listItem {
            .titleAndPlayContainer {
                .playButton {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }

    .listItem {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        .image {
            position: relative;
            object-fit: cover; 
        }

        .titleAndPlayContainer {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .playlistTitle {
                color: var.$white;
                margin: 15px;
                display: flex;
                align-items: center;
            }
    
            .playButton {
                color: var.$black;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 9999px;
                background-color: var.$purple;
                padding: 15px;
                filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06)); 
                transform: scale(1);
                opacity: 0;
                transition: all 200ms ease;
                margin: 10px 20px;
            }
        }

    }
}